<div class="form-group">

  <label class="control-label">{{item.label}}</label>

  <input *ngIf='item.max !== undefined; else noMax'
    type='password'
    [placeholder]='item.label' 
    [maxLength]='item.max' 
    [minLength]='item.min' 
    [ngModel]='item.value' 
    (ngModelChange)='onValueChange($event)' 
    class="form-control" />
  
  <ng-template #noMax>
    <input 
    type='password'
    [placeholder]='item.label' 
    [minLength]='item.min' 
    [ngModel]='item.value' 
    (ngModelChange)='onValueChange($event)' 
    class="form-control" />
  </ng-template>

  <span *ngIf='!item.valid' class="text-danger">{{item.errorText}}</span>

</div>