<div class="row justify-content-center">
  <div class="col-lg-4">

    <h4 class="title">
      Registartion
    </h4>

    <app-input-text [(item)]='emailInput'></app-input-text>

    <app-input-text [(item)]='firstNameInput'></app-input-text>

    <app-input-text [(item)]='lastNameInput'></app-input-text>

    <app-input-text [(item)]='patronymicInput'></app-input-text>

    <app-input-password [(item)]='passwordInput'></app-input-password>

    <app-input-password [(item)]='confirmPasswordInput'></app-input-password>

    <button (click)='onRegisterClick()' class='btn btn-primary btn-block mt-4'>Register</button>
    <button routerLink='/login' class='btn btn-primary btn-block'>Login</button>
  </div>
</div>