<div class="row">
  <div class="col-lg-2 col-md-3 col-sm-4">
    <app-nav-menu [items]='navItems'></app-nav-menu>
  </div>
  <div class="col-lg-6 mt-4 offset-lg-2 col-md-6 offset-md-1 col-sm-8">

    <div class="input-group">
      <input class="form-control" [(ngModel)]='participantLogin' placeholder="Email of participant" aria-describedby="button-send"/>
      <div class="input-group-append">
        <button class="btn btn-primary" (click)='onSearchClick()' type="button" id="button-send">To conversation</button>
      </div>
    </div>

    <h5 class="title mb-4">Messages</h5>
    <ng-container *ngFor='let conversation of conversations'>
      <div (click)='onConversationClick(conversation)' class="conversation-box">
        {{conversation.userName}}
      </div>
    </ng-container>
  </div>
</div>
