.conversation-box{
  margin-top: 5px;
  padding: 10px 10px;
  border-radius: 5px;
  display: block;
  color: var(--sub-headline);
  background-color: var(--ligth-background);
  font-weight: 300;
}
.conversation-box:hover{
  cursor: pointer;
}

.title{
  font-weight: 700;
  color: var(--dark-background);
}