<div class="row">
  <div class="col-lg-2 col-md-3 col-sm-4">
    <app-nav-menu [items]='navItems'></app-nav-menu>
  </div>
  <div class="col-lg-6 mt-4 offset-lg-2 col-md-6 offset-md-1 col-sm-8">

    <app-input-text [(item)]='searchInput'></app-input-text>

    <h5 class="title mb-4">Conversations</h5>
    <ng-container *ngFor='let conversation of messageItems'>
      <div [routerLink]='conversation.reference' class="conversation-box">
        {{conversation.userName}}
      </div>
    </ng-container>
  </div>
</div>
