<div class="row justify-content-center">
  <div class="col-lg-4">

    <h4 class="title">
      Login
    </h4>

    <app-input-text [(item)]='loginInput'></app-input-text>

    <app-input-password [(item)]='passwordInput'></app-input-password>

    <p>
      Remember me: 
      <input type="checkbox" [(ngModel)]='rememberMe'>
    </p>

    <button routerLink='/login' class='btn btn-primary btn-block mt-4' (click)='onSignInClick()'>SignIn</button>
    <button routerLink='/registration' class='btn btn-primary btn-block'>Register</button>
  </div>
</div>