.nav-box{
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: var(--dark-background); 
  overflow-x: hidden;  
  padding-top: 1rem;
}

.nav-item{
  font-weight: 700;
  display: block;
  margin: 0;
  width: 100%;
  padding: 1rem;
  color: var(--card-headline)
}
.nav-item:hover{
  color: var(--background);
  background-color: var(--sub-headline);
  cursor: pointer;
  text-decoration: none;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
